.toggle-button {
    background-color: transparent;
    border: none;
    float: right;
    padding: 9px 12px;
} 
.toggle-button__line {
    width: 47px;
    height: 4px;
    background-color: #7a6e6a;
    margin: 5px 0 0 4px;
    border-radius: 10px;
}