.side-drawer {
  height: 100%;
  background: white;
  position: fixed;
  float: right;
  top: 0;
  right: 0;
  width: 40%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open {
  transform: translateX(0);
  background-color: #6699ff;
}
.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-right: 0;
  justify-content: center;
}

.side-drawer li {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align-last: last;
  padding-top: 25px;
  

}

.side-drawer a {
  color:#fff;
  text-decoration: none;
  font-size: 1.2rem;
  
}

.side-drawer a:hover,
.side-drawer a:active {
  color:#fff;
  text-decoration: none;
}

@media (min-width:100%) {
    .side-drawer {
        display: none;
    }
}

.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 200px!important;
  height: auto;
  border-radius: 70%;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.material-icons.md-dark {
  color:#fff!important;
  margin: 16px;
}
